# In Class Notebook, Week 06

You can always access the URL of this notebook: https://github.com/UIUC-iSchool-DataViz/is445_oauoag_spring2023/blob/master/week06/inClass_week06.ipynb 

Or post the URL into the nbviewer interface for a plain-text rendering:

https://kokes.github.io/nbviewer.js/viewer.html

In [5]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [3]:
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [4]:
# Want: the sum of all of the values of "D", into bins of "A" and "C"

In [6]:
table = pd.pivot_table(df, values='D', index=['A'], columns=['C'],
                      aggfunc=np.sum, fill_value=0)

In [7]:
table

C    large  small
A
bar     11     11
foo      4      7

In [8]:
table.values

array([[11, 11],
       [ 4,  7]])

In [10]:
table.index.values.astype('str')

array(['bar', 'foo'], dtype='<U3')

In [12]:
table.columns.values.astype('str')

array(['large', 'small'], dtype='<U5')